.hljs {
  padding-left: 20px;
  white-space: inherit;
  border-left: 2px solid #dcdcdc;
}

#block-olivero-content .node--view-mode-teaser .hljs {
  max-width: 90vw;
}

@media (min-width: 700px) {
  #block-olivero-content .node--view-mode-teaser .hljs {
    max-width: unset;
    white-space: pre-wrap;
  }
}
